@import "../../variables";

.main-nav {
    height: 4rem;
    background-color: $menuBackground;

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        max-width: 1200px;
        margin: auto;

        a {
            align-self: center;
            margin: 0 .5rem;

            .home-img {
                height: 2.5rem;
            }
        }

        .nav-items {
            height: 4rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            span {
                margin: 0 1rem;
            }
        }
    }
}
