// menu ---------------------------------------
$menuBackground: #27ae60;
$menuFontColor: #1a1a1a;
// --------------------------------------------


// hero ---------------------------------------
$heroBackground: #27ae60;
// --------------------------------------------


// Normal Text and Headlines ------------------
$textFontColor: #111A12;
// --------------------------------------------


//projectProgress -----------------------------
$projectProgressBackground: #111a12;
$projectProgressHeadlineFontColor: #fafcfa;
$projectProgressItemNameFontColor: #fafcfa;
$projectProgressItemBarColor: rgb(39, 174, 96);
$projectProgressItemBarBackgroundColor: #fafcfa;
// --------------------------------------------


//footer --------------------------------------
$footerBackground: #252E26;
$footerFontColor: #8c979e;
// --------------------------------------------

// Bootstrap Variable Overrides ---------------
// variables can be found in: 'node_modules/bootswatch/dist/lux/variables.scss' and 'node_modules/bootstrap/scss/_variable.scss'
$web-font-path: 'https://fonts.googleapis.com/css?family=Roboto:300&display=swap';
$font-family-sans-serif: 'Roboto', sans-serif;
// --------------------------------------------
