// menu ---------------------------------------
$menuBackground: #27ae60;
$menuFontColor: #1a1a1a;
// --------------------------------------------


// hero ---------------------------------------
$heroBackground: #27ae60;
// --------------------------------------------


// Normal Text and Headlines ------------------
$textFontColor: #1a1a1a;
// --------------------------------------------


//projectProgress -----------------------------
$projectProgressBackground: #20BAB7;
$projectProgressHeadlineFontColor: #1a1a1a;
$projectProgressItemNameFontColor: #1a1a1a;
$projectProgressItemBarColor: #1a1a1a;
$projectProgressItemBarBackgroundColor: #f7f7f9;
// --------------------------------------------


//footer --------------------------------------
$footerBackground: #27ae60;
$footerFontColor: #1a1a1a;
// --------------------------------------------

// Bootstrap Variable Overrides ---------------
// variables can be found in: 'node_modules/bootswatch/dist/lux/variables'

// --------------------------------------------
