@import "../variables";

.progress-item {
    width: 400px;
    padding: 2rem;

    .progress-item-name {
        text-align: left;
        margin-bottom: 1rem;
        * {
            color: $projectProgressItemNameFontColor !important;
        }
    }

    .progress {
        height: 0.5rem;
        background-color: $projectProgressItemBarBackgroundColor;

        .progress-bar {
            background-color: $projectProgressItemBarColor;
        }
    }
}
