// menu ---------------------------------------
$menuBackground: #27ae60;
$menuFontColor: #1a1a1a;
// --------------------------------------------


// hero ---------------------------------------
$heroBackground: #27ae60;
// --------------------------------------------


// Normal Text and Headlines ------------------
$textFontColor: #111A12;
// --------------------------------------------


// projectProgress ----------------------------
$projectProgressBackground: #111a12;
$projectProgressHeadlineFontColor: #fafcfa;
$projectProgressItemNameFontColor: #fafcfa;
$projectProgressItemBarColor: rgb(39, 174, 96);
$projectProgressItemBarBackgroundColor: #fafcfa;
// --------------------------------------------

// team ---------------------------------------
$teamBackground: #fafafa;
$teamHeadlineFontColor: #111a12;
$teamMemberNameColor: #111a12;
$teamMemberRoleColor: #111a12;
$teamMemberSocialIconColor: #111a12;
// --------------------------------------------

// documents ----------------------------------
$documentsBackground: #111a12;
$documentsHeadlineFontColor: #fafcfa;
$documentsDocColor: #fafcfa;
$documentsDocHoverColor: #969896;
// --------------------------------------------

// footer -------------------------------------
$footerBackground: #252E26;
$footerFontColor: #8c979e;
$copyRightNoticeBackgroundColor: #111a12;
$copyRightNoticeColor: #8c9597;
// --------------------------------------------

// contact-from -------------------------------
$contactFromBackground: #ffffff;;
$contactFromHeadlineFontColor: #111a12;
$contactFormFormControlBackgroundColor: #e0e0e2;
$contactFormFormControlLabelFontColor: #111a12;
$contactFormFormControlFontColor: #111a12;
$contactFormErrorColor: #ff0000;
$contactFormButtonColor: #27ae60;
$contactFormButtonHoverColor: #26974f;
$contactFormButtonFontColor: #111a12;
// --------------------------------------------

// back-to-top-button -------------------------
$backToTopButtonColor: #27ae60;
$backToTopButtonHoverColor: #26974f;
$backToTopButtonFontColor: #ffffff;
// --------------------------------------------

// Bootstrap Variable Overrides ---------------
// variables can be found in: 'node_modules/bootswatch/dist/lux/variables.scss' and 'node_modules/bootstrap/scss/_variable.scss'
$web-font-path: 'https://fonts.googleapis.com/css?family=Roboto:300&display=swap';
$font-family-sans-serif: 'Roboto', sans-serif;
// --------------------------------------------
