@import "../variables";

.footer {
    height: 10rem;
    margin-top: 4rem;
    background-color: $footerBackground;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $footerFontColor;

    a {
        margin: 0 2rem;
        color: $footerFontColor;
    }
}
