@import "../variables";

.headline {
    h1, h2, h3, h4, h5 {
        margin: 3rem;
        color: $textFontColor;
    }

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}
