.headline {
    h1, h2, h3, h4, h5 {
        text-transform: none;
        margin: 3rem;
    }

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}
