@import "../variables";

.text {
    margin: auto;
    max-width: 1200px;
    color: $textFontColor;

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}
