@import "../variables";

.text {
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 3rem;
    color: $textFontColor;

    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}
